@media (min-width: $media-grid-start) {
    body {
        display: grid;
	gap: 3vh;
        grid-template:
	    "B B B" auto
            "C C C" auto;
    }

    #index-grid {
	grid-area: B;
    }

    footer {
	grid-area: C;
    }

}
