footer {
    display: grid;
    grid-template:
	". A ." auto / auto;
    justify-content: center;
}

.matrix-button {
    grid-area: A;
    width: auto;
    height: auto;
    display: inline-block;
    padding: 1vh 1vw;
}

.matrix-button #matrix-logo-svg {
    fill: $base05;
    height: 100%;
    width: 39vw;
}
