#index-grid {}

#index-cell-header {
    margin-top: 2vh;
    font-size: 5rem;
}

#index-cell-main {}

// Grid
@media (min-width: $media-grid-start) {
    #index-grid {
        display: grid;
        grid-template:
	    "A A A" auto
            "C C C" auto;
    }

    #index-cell-header {
	grid-area: A;
    }

    #index-cell-main {
	grid-area: C;
    }

}
