#index-grid {}

#index-cell-header {
    font-size: 7vw;
}

#index-cell-main {}

// Grid
@media (min-width: $media-grid-start) {
    #index-grid {
        display: grid;
        grid-template:
	    "A A A" auto
	    "C C C" auto
            "C C C" auto;
    }

    #index-cell-header {
	grid-area: A;
	height: 100px;
    }

    #index-cell-main {
	grid-area: C;
    }

}
