// Grid
@media (min-width: $media-grid-start) {
    #page-grid {
        display: grid;
        grid-template:
	    "A A A" auto
	    "C C C" auto
            "C C C" auto;
    }


    #page-cell-header {
        grid-area: A;
    }

    #page-cell-menu {
	grid-area: B;
    }

    #page-cell-main {
        grid-area: C;
    }

}

