// libraries
@import "reseter.css/reseter";
@import "_base16-theme.scss";
@import "buttons/buttons";

@import "_variables.scss";

@import "_base.scss";
@import "_page.scss";
@import "_index.scss";
@import "_content.scss";
@import "_footer.scss";

html {
    min-height: 100%;
    background: $base00;
    color: $base05;
}

body {
    top-margin: 2vh;
    text-align: center;
}

h1 h2 h3 h4 h5 h6 { color: $base04; }

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.9rem;
}

h5 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}

@media (max-width: 240px) {
    html { font-size: 8px; }
    
}
